.container {
  background-color: #f5f5f5;
  padding: 30px;
  background-image: url(https://img.freepik.com/free-photo/blue-abstract-gradient-wave-wallpaper_53876-108364.jpg?w=1060&t=st=1689869743~exp=1689870343~hmac=22d6ffd5e428b73148bb8e8651a904e50d7a0589361b6caab34ccdaafbea13ba);
  background-repeat: no-repeat;
  background-size: cover;
}

.author-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.author-card-cover {
  position: relative;
  height: 150px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.author-card-profile {
  display: flex;
  align-items: center;
  margin-top: -80px;
}

.author-card-avatar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.author-card-details {
  margin-left: 20px;
}

.author-card-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.author-card-position {
  color: #777;
  font-size: 14px;
}

.wizard .list-group-item {
  background-color: #fff;
  color: #333;
  border-color: #ddd;
}

.wizard .list-group-item:not(:last-child) {
  border-bottom: none;
}

.wizard .list-group-item.active {
  background-color: #f1f1f1;
  color: #333;
  border-color: #ddd;
}

.wizard .list-group-item i {
  margin-right: 10px;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  border-radius: 0;
}

.custom-control-label::before,
.custom-control-label::after {
  border-radius: 0;
}

.btn-style-1 {
  background-color: #ff5050;
  color: #fff;
  border-color: #ff5050;
  border-radius: 0;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-style-1:hover,
.btn-style-1:focus {
  background-color: #cc0000;
  color: #fff;
  border-color: #cc0000;
}

.btn-style-1:active {
  background-color: #990000;
  color: #fff;
  border-color: #990000;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  border-radius: 0;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3;
  color: #fff;
  border-color: #0056b3;
}

.btn-primary:active {
  background-color: #003080;
  color: #fff;
  border-color: #003080;
}

@media (max-width: 576px) {
  .col-lg-4,
  .col-lg-8 {
    margin-bottom: 30px;
  }
}
